body {
    background-color: #333;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    margin: 0;
}

h1 {
    font-size: 40px;
}



#header {
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    justify-content: space-around;

    height: 120px;
    width: 100%;
    margin: 0px;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(255, 0, 0, 0.5);

    transition: all 250ms ease-in-out;

    overflow:visible;
    
}

#header:hover {
    height: 240px;
}

#header:hover #logo {
    height: 280px;
    margin: 0;
}

#header_left {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
}


#header_left_top {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#header_left_bottom {
    display: flex;
    gap: 12px;
    padding: 8px;
}

#logo {
    transition: all 250ms ease-in-out;
    height: 160px;
    
}



.page_link {
    margin-right: 10px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}

.page_link:hover {
    background-color: #333;
    border-radius: 12px;
    color: white;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2)
}

.page_link:active {
    box-shadow: 2px 2px 20px 20px rgba(120, 10, 10, 1);
}

#header_right {
    display: flex;
    flex-flow: column nowrap;
    color: red;
    margin-right: 20px;
}

.socials {
    display: flex;
    align-items: center;
    gap: 4px;
}





/*****************************************/
/**************** Intro *****************/
/***************************************/

#introduction {
    background-color: aliceblue;
    border-radius: 8px;
    color: black;
    padding: 10px;
    margin: 24px;
    line-height: 1.5;
}

#introduction p {
    background-color: #333;
    color: white;
    border-radius: 12px;
    padding: 24px;
    margin: 8px;
}






/***************************************************************/
#event_list {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    margin: 20px 10px 0 10px;
}

#next_event {
    flex-grow: 3;
    
}

.event {
    background-color: white;
    color: black;
    border-radius: 12px;
    padding: 8px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


.event_date {
    font-weight: 600;
}

.event_localisation {
    font-style: italic;
}

.event_title {
    font-size: 24px;
    margin: 8px;
}

.event_photo {
    margin: 4px;

}



.event_artists {
    text-decoration: underline;
    font-size: 32px;
    margin: 8px;
}

.event_details {
    text-align: center;
}

#later_events {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    flex-grow: 0;
    flex-basis: 0;

}

/****************************************************************/
/****************************************************************/
#photo_frames_container {
    width:fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#photo_frames {
    width: fit-content;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 12px;
    border-radius: 12px;
    margin: 8px;
    gap: 16px;
}



.photo_frame {
    text-align: center;
    display: flex;
    align-items: center;
    flex-flow: column;
    background-color: rgba(120, 10, 10, 1);
    color: white;
    padding: 8px;
    border-radius: 12px;
    transition: 200ms ease-in-out;
}

.photo_frame:hover {
    box-shadow: 0px 0px 10px 10px rgb(255, 0, 0);
    -webkit-box-shadow: 0px 0px 10px 10px rgb(255, 0, 0);
    -moz-box-shadow: 0px 0px 10px 10px rgb(255, 0, 0);
}
.photo {
    width: 720px;
    border: 24px solid white;
    margin: 12px;
    filter: brightness(1.2);
    transition: all 300ms ease-in-out;

}

.photo:hover {
    transform: scale(1.2);
    filter: brightness(1.8);
    z-index: 1;
}


/****************************************************************/
/****************************************************************/


#frame_tarifs {
    background-color: white;
    border-radius: 12px;
    padding: 8px;
    margin: 8px;
    margin-left: 32px;
    margin-right: 32px;

    font-size: 20px;
}

#frame_boissons {
    display: flex;
    flex-flow: row;
    justify-content: center;

}

thead {
    line-height: 2;
    color:rgb(255, 0, 0);
    font-size: 24px;
}

table {
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 12px;
    margin: 8px;
    padding: 4px;
    line-height: 1.4;
}



/****************************************************************/

#employee_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
}
#employees {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-flow: row wrap;
}

.employee_frame {
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 300px;
    height: fit-content;
    background-color: white;
    border-radius: 12px;
    color: black;
    padding: 8px;
    transition: 300ms ease-out;
}

.employee_frame:hover {
    transform: scale(1.15);
}

.employee_name {
    font-size: 22px;
    font-weight: bold;
}

.employee_name {
    margin: 4px;
}

.employee_photo {
    border: 4px solid rgba(120, 10, 10, 1);
    filter:saturate(1.2) brightness(2);
}


/****************************************************************/
/***************** Misc *****************************************/
/****************************************************************/

a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

a:hover {
    color: #5865F2;
}